################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaxonScout/obj
/TaxonScout/bin/Debug/import.txt
